body {
    font-family: sans-serif;
    background: pink;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    padding: 40px;
    color: #878787;
  }

  background-color {
    color: pink;
  }